<header class="HeaderMain">
    <div class="HeaderText">
        <a href="/Mainlayout"
            <img class="iconFP" src="images/virtual-tour.png" alt="Тут должна быть иконка">
        </a>
        <a href="/information" class="TextHeadera">Информация</a>
        <a href="/hot-tours" class="TextHeadera">Горящие туры</a>
        <a href="/contacts" class="TextHeadera">Контакты</a>
        <a href="/about" class="TextHeadera">О нас</a>
        <a href="/profile" class="TextHeadera">Профиль</a>
    </div>
</header>
