@page "/Contacts"

<Header />

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-53.userapi.com/impg/Ryk8WI3wHPeutEpgiARsl0KPHzlNiN8FTTI_mw/7cCQV9uaxtY.jpg?size=960x1280&quality=95&sign=2c341909c558c4e9a72c5bd7bc57cbd8&type=album" />
    </div>
    <h1 class="Bakasov">Бакасов Артур</h1>
    <p class="Bakaopis">
        wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
    </p>
</div>
<style>
    .contbase{
        border-radius: 15px;
        margin-top: 40px;
        margin-right: 7%;
        margin-left: 7%;
        background-color: #FFEAEA;
    }

    .ava1{
        border-radius: 15px;
        padding: 0;
    }

    .Bakasov{
        font-family: Montserrat Black;
    }

    .Bakaopis{
        font-family: Montserrat;
        color: black;
    }
</style>
@code {

}
