@page "/"
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@using trpo2.Models
@inject TourAgencyContext dbContext
@using Microsoft.EntityFrameworkCore;
@using trpo2.Data;
@inject UserService userService;


<PageTitle>Index</PageTitle>

<div class="login-form">
        <h1 class="Vhonh">Вход</h1>

        <div class="form-group">
            <label for="firstName">Почта:</label>
        <input type="text" id="email" class="form-control" @bind="email" />
    </div>

        <div class="form-group">
            <label for="lastName">Пароль:</label>
        <input type="password" id="password" class="form-control" @bind="password" />
    </div>

        <div class="buttons">
        <button type="submit" class="btn btn-primary" @onclick="Register">Войти</button>
        <button @onclick="RedirectToRegistrationPage" class=" btn btn-link">Нет аккаунта?</button>
        </div>
</div>
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void RedirectToRegistrationPage()
    {
        NavigationManager.NavigateTo("/RegistrationPage");
    }

    private string email;
    private string password;

    private async Task Register()
    {
        if (string.IsNullOrEmpty(email) ||
            string.IsNullOrEmpty(password))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Пожалуйста, заполните все обязательные поля.");
            return;
        }
        else{
        var user = await dbContext.Customers.FirstOrDefaultAsync(u => u.Email == email && u.Password == password);
        if (user != null)
        {
            userService.SetCurrentUser(user);
            NavigationManager.NavigateTo("/Profile");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Неверный адрес электронной почты или пароль.");
        }
    }
    }
}