@page "/Information"

<Header />


<div class="Countries">
    <h1 class="Countriesh1">
            Предлагаемые страны для отдыха
        </h1>
</div>

<div class="allcountries">
    <a href="/Tours" class="Turkey">
        <h1 class="ZagolovokStran">
            Турция
        </h1>
        <img class="imagge" src="https://img8.eadaily.com/c650x400/o/793/9735b6966526cecf3dc85eeca680f.jpeg" />
        <p class="OpisStran">
            Турция — идеальное место для активного отдыха. Здесь можно заняться дайвингом, сходить в горы, полетать на воздушном шаре, прыгнуть с парашютом, половить рыбу в открытом море, покататься на яхте.
        </p>
    </a>
    <a href="/Tours" class="Tailand">
        <h1 class="ZagolovokStran">
            Таиланд
        </h1>
        <img class="imagge" src="https://berupolis.ru/storage/blog-posts/January2022/sZH9jqhbiaLQTsRN1QcB.jpg" />
        <p class="OpisStran">
            Таиланд – это не только красивые пляжи и теплое море, но и уникальная природа. Здесь можно наблюдать редких животных и птиц, а также наслаждаться прекрасными видами лесов и гор.
        </p>
    </a>

    <a href="/Tours" class="Egipt">
        <h1 class="ZagolovokStran">
            Египет
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyotZQSR02kcuc7MPtP2NoN7DChLISmJbkYGPLpUT9dw&s" />
        <p class="OpisStran">
            Достоинства Египта известны каждому: качественный пляжный отдых круглый год на Средиземном и Красном морях, разбавленный отличным дайвингом, плюс разнообразная «экскурсионка»: пирамиды, Сфинкс и Луксор.
        </p>
    </a>

    <a href="/Tours" class="France">
        <h1 class="ZagolovokStran">
            Франция
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWElWdV4rdxon_0ofqnGyqPrg1YDI3m2nqqc0SbTD_IQ&s" />
        <p class="OpisStran">
            Живущие во Франции люди любят Жизнь с большой буквы. Здесь всему важному придают особенное значение: отношениям, одежде, еде, напиткам, распорядку дня, общению.
        </p>
    </a>

    <a href="/Tours" class="OAE">
        <h1 class="ZagolovokStran">
            ОАЭ
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUN7XCSrveFFkxt3_bsB-ia5XKiYS90TcBpVOl_nAllw&s" />
        <p class="OpisStran">
            Страна-загадка, контрастная, молодая, обеспеченная, успешная – привлекает и будет привлекать к себе поколения туристов и бизнесменов.
        </p>
    </a>

    <a href="/Tours" class="Russia">
        <h1 class="ZagolovokStran">
            Россия
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb-s4UAQvxoflFUIT0E5WKXCTYNTcYDrxc9a95y_xhpA&s" />
        <p class="OpisStran">
            В России можно найти песочные пляжи и теплое море, высокие горы и вечную мерзлоту, широкие и малые реки и альпийские луга.
        </p>
    </a>

    <a href="/Tours" class="Mexico">
        <h1 class="ZagolovokStran">
            Мексика
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtu-AGk8M3g_vLJq-tXGpkG90_jMus9knqCD1BJ_nNZg&s" />
        <p class="OpisStran">
            Мексика известна своей богатой культурой, древними руинами, великолепными пляжами и невероятной кухней .
        </p>
    </a>

    <a href="/Tours" class="Italia">
        <h1 class="ZagolovokStran">
            Италия
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYORKWLuuBXDly2q3Ft95hieT989XBR43e6zjHp0j5zg&s" />
        <p class="OpisStran2">
            Италия – страна дворцов, соборов, музеев и памятников. Родина Возрождения, оперного искусства и живописи. Она манит картинами, историческими зданиями, красивыми местами, мягкими погодными условиями и удивительной кухней.
        </p>
    </a>

</div>

<style>
    .allcountries{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    .imagge{
        width: 87%;
        height: 35%;
        border-radius: 14px;
        text-align: center;
        margin-left: 20px;
    }

    .ZagolovokStran{
        text-align: center;
        font-family: Montserrat Black;
        color: white;
    }

    .OpisStran{
        font-family: Montserrat Regular;
        text-align: center;
        color: white;
        margin-top: 5px;
    }

    .OpisStran2 {
        font-family: Montserrat Regular;
        text-align: center;
        color: white;
    }

    .Turkey{
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/kmKrNfb/turk.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Mexico{
        width: 320px;
        height: 380px;
        background-image: url('    https://i.ibb.co/44bb7sK/2024-04-25-204826.png ');
        background-size: cover;
        margin-top: 50px;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Italia{
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/GJ3rSdf/2024-04-25-204558.png ');
        background-size: cover;
        margin-top: 50px;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Tailand {
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/RBBBP7S/2024-04-25-202135.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Egipt {
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/B3Vrqpc/2024-04-25-202842.png'); 
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .France {
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/SRp76Hx/2024-04-25-203213.png ');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .OAE {
        width: 320px;
        margin-top: 50px;
        height: 380px;
        background-image: url('https://i.ibb.co/YR7JZC9/2024-04-25-203547.png ');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Russia {
        width: 320px;
        margin-top: 50px;
        height: 380px;
        background-image: url('https://i.ibb.co/yRDVxP1/2024-04-25-204116.png ');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
        text-decoration: none;
    }

    .Countries {
        font-family: Montserrat Light;
        text-align: center;
    }

    .Countriesh1 {
        border-radius: 15px;
        color: white;
        margin-top: 40px;
        margin-right: 25%;
        margin-left: 25%;
        background-image: url('https://media.istockphoto.com/id/1386836234/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%B0%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BD%D1%8B%D0%B9-%D1%80%D0%B0%D0%B7%D0%BC%D1%8B%D1%82%D1%8B%D0%B9-%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D1%87%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D0%BD.jpg?s=612x612&w=0&k=20&c=UwlrrP4jK2azd274T8HdvkfkajwsuxFXk8Sh3kfazgQ='); 
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

@code {

}
