@page "/Information"

<Header />


<div class="Countries">
    <h1 class="Countriesh1">
            Предлагаемые страны для отдыха
        </h1>
</div>

<div class="allcountries">
    <div class="Turkey">
        <h1 class="ZagolovokStran">
            Турция
        </h1>
        <img class="imagge" src="https://img8.eadaily.com/c650x400/o/793/9735b6966526cecf3dc85eeca680f.jpeg" />
        <p class="OpisStran">
            Турция — идеальное место для активного отдыха. Здесь можно заняться дайвингом, сходить в горы, полетать на воздушном шаре, прыгнуть с парашютом, половить рыбу в открытом море, покататься на яхте.
        </p>
    </div>

    <div class="Tailand">
        <h1 class="ZagolovokStran">
            Таиланд
        </h1>
        <img class="imagge" src="https://berupolis.ru/storage/blog-posts/January2022/sZH9jqhbiaLQTsRN1QcB.jpg" />
        <p class="OpisStran">
            Таиланд – это не только красивые пляжи и теплое море, но и уникальная природа. Здесь можно наблюдать редких животных и птиц, а также наслаждаться прекрасными видами лесов и гор.
        </p>
    </div>

    <div class="Egipt">
        <h1 class="ZagolovokStran">
            Египет
        </h1>
        <img class="imagge" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyotZQSR02kcuc7MPtP2NoN7DChLISmJbkYGPLpUT9dw&s" />
        <p class="OpisStran">
            Достоинства Египта известны каждому: качественный пляжный отдых круглый год на Средиземном и Красном морях, разбавленный отличным дайвингом, плюс разнообразная «экскурсионка»: пирамиды, Сфинкс и Луксор.
        </p>
    </div>

    <div class="France">
        <img class="imagge" src="" />
        <h1 class="ZagolovokStran">
            Франция
        </h1>
        <p class="OpisStran">
            Живущие во Франции люди любят Жизнь с большой буквы. Здесь всему важному придают особенное значение: отношениям, одежде, еде, напиткам, распорядку дня, общению.
        </p>
    </div>

    <div class="AOE">
        <img class="imagge" src="" />
        <h1 class="ZagolovokStran">
            ОАЭ
        </h1>
        <p class="OpisStran">
            Страна-загадка, контрастная, молодая, обеспеченная, успешная – привлекает и будет привлекать к себе поколения туристов и бизнесменов.
        </p>
    </div>

    <div class="Russia">
        <img class="imagge" src="" />
        <h1 class="ZagolovokStran">
            Россия
        </h1>
        <p class="OpisStran">
            В России можно найти песочные пляжи и теплое море, высокие горы и вечную мерзлоту, широкие и малые реки и альпийские луга.
        </p>
    </div>

</div>

<style>
    .allcountries{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    .imagge{
        width: 87%;
        height: 35%;
        border-radius: 14px;
        text-align: center;
        margin-left: 20px;
    }

    .ZagolovokStran{
        text-align: center;
        font-family: Montserrat Black;
        color: white;
    }

    .OpisStran{
        font-family: Montserrat Regular;
        text-align: center;
        color: white;
        margin-top: 5px;
    }

    .Turkey{
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/kmKrNfb/turk.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
    }

    .Tailand {
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/RBBBP7S/2024-04-25-202135.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
    }

    .Egipt {
        width: 320px;
        height: 380px;
        background-image: url('https://i.ibb.co/B3Vrqpc/2024-04-25-202842.png'); 
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 14px;
    }

    .Countries {
        font-family: Montserrat Light;
        text-align: center;
    }

    .Countriesh1 {
        border-radius: 15px;
        margin-top: 40px;
        margin-right: 25%;
        margin-left: 25%;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxkhe_HvL3UWbcZiCxKJn8asdma0AkJ2JChxZHFtKDZg&s');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

@code {

}
