@page "/SuccessPage"

<Header />

<h1 class="Successh1">Письмо отправлено на почту</h1>

<style>
    .Successh1{
        font-family: Montserrat Black;
        color: blue;
        text-align: center;
    }
</style>

@code {

}
